.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.parallax-bg {
  position: relative;
}
.picture {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.absolute-container {
  position: absolute;
  width: 30vw;
  height: 30vh;
  right: 5vw;
  height: auto;
  top: 5vh;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2vw;
}
.title {
  font-size: 2vw;
  font-weight: 300;
  margin-bottom: 1vh;
}

.subtitle {
  font-size: 1vw;
}

.swiper-slide .text {
  font-size: 14px;
  line-height: 1.3;
}
