.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* height: 50%; */
}

.parallax-bg {
  /* width: 100%; */
  position: relative;
}
.picture {
  position: relative;
}
.title {
  position: absolute;
  top: 2rem;
  font-size: 41px;
  font-weight: 300;
}

.subtitle {
  position: absolute;
  top: 5rem;
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 30rem;
  line-height: 1.3;
}
